.contact-list-wrapper {
	position: relative;
	display: flex;
	flex: 1;
	min-height: 70px;
	width: 100%;
	overflow-x: auto;
	align-items: center;
	& ul {
		display: flex;
	}
}

.contact-avatar {
	display: flex;
	align-items: center;
	img {
		border-radius: 50%;
	}
}
.clickable-badge {
	background: #8d6cab;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(45deg);
	position: relative;
	bottom: 20px;
	z-index: 99;
	left: 50px;
}
