@import "../../Themes/colors.scss";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 5vw;
	bottom: 5vh;
}

.btn_rounded {
	border-radius: 50%;
	min-height: 60px;
	min-width: 50px;
	background-color: $primary;
	border: none;
	text-align: center;
	cursor: pointer;
}
