@import "./fonts.scss";
@import "./colors.scss";
@import "./screens.scss";

html {
	position: relative;
	min-height: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: block;
}
body {
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "calt";
	background-color: #fff;
	color: $grey;
	font-family: "Nunito-Sans";
	font-size: 16px;
	font-weight: 400;
	// height: 100%;
	// width: 100%;
	letter-spacing: -0.01em;
	line-height: 21px;
	margin: 0px auto;
	touch-action: pan-y;
	scroll-behavior: smooth;
	// width: 100%;
}
main {
	overflow: auto;
	background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
		linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
		/* Shadows */
			radial-gradient(
				farthest-side at 50% 0,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			),
		radial-gradient(
				farthest-side at 50% 100%,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			)
			0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}

*,
::after,
::before {
	box-sizing: border-box;
}

.container {
	width: auto;
	height: 100%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	&::after {
		clear: both;
	}
	&::before {
		display: table;
		content: " ";
	}
	// padding-right: var(--bs-gutter-x, 0.75rem);
	// padding-left: var(--bs-gutter-x, 0.75rem);
	// margin-right: auto;
	// margin-left: auto;
	@media screen and (min-width: 576px) {
		max-width: $small;
	}
	@media screen and (min-width: 768px) {
		max-width: $medium;
	}
	@media screen and (min-width: 992px) {
		max-width: $large;
	}
	@media screen and (min-width: 1172px) {
		max-width: $xlarge;
	}
	@media screen and (min-width: 1400px) {
		max-width: $xxlarge;
	}
}

.height-100 {
	height: 100% !important;
}

.flex {
	display: flex !important;
}
.flex-column {
	flex-direction: column !important;
}
.items-center {
	align-items: center !important;
}

header {
	display: block;
}
.global_gutter {
	padding: 0 1.6rem;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fade-enter {
	opacity: 0;
}
.fade-exit {
	opacity: 1;
}
.fade-enter-active {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
	transition: opacity 500ms;
}

//old page exiting, hides it underneath (bottom)
.pageSlider-exit > .page {
	z-index: 1;
}
//new page entering, show it on top
.pageSlider-enter > .page {
	z-index: 10;
}
//LEFT transition transform 100% to the right
.pageSlider-enter.left > .page {
	transform: translate3d(100%, 0, 0);
}
//RIGHT transition transform -100% to the left
.pageSlider-enter.right > .page {
	transform: translate3d(-100%, 0, 0);
}
//old exit left direction
.pageSlider-exit.left > .page {
	transform: translate3d(-100%, 0, 0);
}
//old exit right direction
.pageSlider-exit.right > .page {
	transform: translate3d(100%, 0, 0);
}
.pageSlider-enter.pageSlider-enter-active > .page {
	transform: translate3d(0, 0, 0);
	transition: all 250ms linear;
}

span {
	font-family: "Roboto";
	font-size: 14px !important;
	// font-weight: 400 !important;
	// line-height: 16px;
	// color: #8b8b8b !important;
}

.btn-rounded {
	min-height: 50px;
	min-width: 50px;
	background-color: #e0e6ff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 7px;
	text-align: center;
}

// @media (prefers-reduced-motion: no-preference){
// 	scroll-behavior: font-smooth: ;
// }
